@fontSize16px: 16px;
@fontSize20px: 20px;

@fontColorRed: red;
@fontColorGreen: Green;

.font-size-16{
	font-size: @fontSize16px;
}
.font-size-20{
	font-size: @fontSize20px;
}

.color-red{
	color: @fontColorRed;
}
.color-green{
	color: @fontColorGreen;
}