//1.变量
@fontSize16px: 16px;
@fontSize20px: 20px;

@fontColorRed: red;
@fontColorGreen: Green;

.font-size-16{
	font-size: @fontSize16px;
}
.font-size-20{
	font-size: @fontSize20px;
}

.color-red{
	color: @fontColorRed;
}
.color-green{
	color: @fontColorGreen;
}

//2.嵌套
.part2{
	p{
		font-size: 22px;
		font-style: italic;
	}
	img{
		height: 50px;
		width: 50px;
		box-shadow: 5px 5px 1px;
		&:hover{
			height: 100px;
			width: 100px;
		}
	}
}

//3.混合
.fontAndColor(@color;@fontSize) {
	color:@color;
	font-size: @fontSize;
}

.part3{
	p{
		.fontAndColor(red, 20px);
	}
}

//4.if else
@debug:true;
.debugColorMixin(@debug) when (@debug) {
	color: red;
}
.debugDisplayMixin(@debug) when not (@debug){
	display:none;
}
.part4{
	.text1{
		.debugColorMixin(@debug);
	}
	.text2{
		.debugDisplayMixin(@debug);
	}
}

//5.循环
.loop(@counter) when (@counter > 0) {
  .loop((@counter - 1));    // next iteration
  .column-@{counter}{
  	font-size: @counter * 10px;
  }
}

div {
  .loop(5); // launch the loop
}